@import '../bower_components/reset-css/sass/_reset';
@import '_vars';
.component {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('assets/img/main__bg.png') no-repeat;
    transition: all 2s ease-in;
    &__childs {
        position: relative;
        width: 25%;
        height: 100%;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: #fff;
            opacity: 0.2;
            z-index: 10;
        }
    }
}